@mixin modal-variant($color) {
  .modal-content {
    background: $color;
    color: color-yiq($color);
  }

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    color: $white;
  }
}


/* ===== MODAL ANIMATION ===== */

@keyframes slideInModal {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOutModal {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-20%);
    opacity: 0;
  }
}

.modal-animate-show {
  animation: slideInModal 0.3s ease-out forwards;
}

.modal-animate-hide {
  animation: slideOutModal 0.2s ease-in forwards;
}



/* ===== IMAGE CARD ===== */

.image-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1; 
  overflow: hidden;
}

.doc-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  transition: transform 0.3s ease;
}

.image-wrapper:hover .doc-thumbnail {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* sedikit gelap */
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
  z-index: 0 !important;
}

.image-wrapper:hover .overlay {
  opacity: 1;
}


/* ===== IMAGE PREVIEW ===== */

.image-preview-close-button {
  position: 'fixed';
  top: '24px';
  right: '24px';
  z-index: 11;
  border-radius: '50%';
  width: '42px';
  height: '42px';
  opacity: 0.7;
  font-weight: 'bold';
  padding: 0;
  background-color: 'white';
}

